// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

.bg{
    width: 100%;
    height: auto;
    object-fit: cover;
 }




// Bootstrap
@import 'bootstrap/scss/bootstrap';
